.filter-content {
  display: flex;
  gap: 24px;
  margin-top: 75px;
  margin-bottom: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.t-filter {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
  margin-right: 15px;
}

.t-btn {
  display: block;
}

.filter-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 90px;
  cursor: pointer;
  font-family: var(--font-family);
  transition: all 0.3s ease;
  background-color: var(--card);
  color: var(--accent);
}

/* Hover effect */
.filter-btn:hover {
  background-color: black;
  color: white;
}

/* Active button */
.filter-btn.active {
  background-color: black;
  color: white;
}

/* Make extra width for apartment */
.filter-btn[data-filter="apartment"] {
  width: 110px;
}


/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 14px;
  margin-bottom: 26px;
}

/* Pagination buttons */
.page-btn {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  color: var(--text-primary);
  background-color: var(--card);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-family);
}

/* Hover effect */
.page-btn:hover {
  background-color: black;
  color: white;
}

/* Active page */
.page-btn.active {
  background-color: black;
  color: white;
}

/* Optional: Responsive buttons for mobile */
@media (max-width: 768px) {
  .page-btn {
    padding: 6px 10px;
  }

  .filter-content {
    display: block;
  }
  
  .filter {
    margin-top: 12px;
  }
}
